*{
    margin: 0;
    padding: 0;
}



.flex-container{
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: rgb(251, 237, 222);
        /* row is default. column flips both axis */
        flex-direction: column;
        /* vv shifts items on main axis vv */
        justify-content: space-around;
         /* vv align items shift items on cross axis vv*/
        align-items: center;
}

.flex-items{
    width: 300px;
    height: 300px;
    margin:10px;
    padding:10px;
    background-color: rgb(255, 251, 241);
    text-align: center;
    border-radius: 30px;
    border: 15px ridge gold ;
}

#placeHere{
    position: relative;
    width: 220px;
    height: 220px;
    margin: auto;
    top: 30px;
}


h1{
    padding: 8px;
    color: rgb(254, 142, 207);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#cerealGenerator{
    position: relative;
    top: 125px;
    padding: 9px;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 142, 207);
    text-align: center;
    border: 4px dotted rgb(255, 255, 255);
}

#breakfastImg{
    width: 35%;
    padding: 5px;
    margin: 5px;
    border: 10px double rgba(252, 144, 214, 0.485);
    border-radius: 20px;
}